<!DOCTYPE html>
<html>
    <head>
        <title>Chess</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/chessboard-1.0.0.min.css")}}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('chessboard_js') }}"></script>
        <script src="{{ url_for('static', filename="js/node_modules/chess.js/chess.js")}}"></script>
    </head>
    <body>
        <div style="width: 25%">
            <div id="myBoard" style="width: 400px"></div>
            <div>
                <button type="change" onclick="undoAll()">Undo All</button>
                <button type="change" onclick="undo()">Undo</button>
                <button type="change" onclick="setColor('white')">White</button>
                <button type="change" onclick="setColor('black')">Black</button>
            </div>
            <div>
                <button type="change" id="btnSearch" onclick="setOpponent()">Search</button>
                <button type="change" id="btnExclude" onclick="setExcludedOpponent()">Exclude</button>
                <input type="text" id="txtBox" onkeydown = "textBox()"></input>
                <button type="change" onclick="resetOpponents()">Reset</button>
            </div>
            <div>
                <button type="change" onclick="setTimeControl('blitz')">Blitz</button>
                <button type="change" onclick="setTimeControl('classical')">Classical</button>
                <button type="change" onclick="setTimeControl('all')">All</button>
            </div>

        </div>
        <div id="move_data"></div>


        <script>

            function getMoveData(){
                $.get("http://127.0.0.1:5000/getpythondata")
                    .done((data) => displayMoveData(data))
                    .fail((error) => console.log(error))
            }


            var counter = 0;
            
            function displayMoveData(moveData){
                moveData = JSON.parse(moveData);

                if (counter > 0){
                    moveDataDiv.remove();
                    moveButtonDiv.remove();
                }
                counter = 1;

                moveDataDiv = document.createElement('div');
                moveDataDiv.style.display = "inline-block";
                moveDataDiv.style.margin = "3px";
                moveDataDiv.style.width = "300px";
                moveDataDiv.style.fontSize = "20px";
                moveDataDiv.style.fontFamily = "Arial";

                moveButtonDiv = document.createElement('div');
                moveButtonDiv.style.display = "inline-block";
                moveButtonDiv.style.margin = "3px";
                moveButtonDiv.style.verticalAlign = "top";

                var i;
                for  (i = 0; i < moveData.length; i++){
                    const newContent = document.createTextNode(moveData[i][0] + ": " + moveData[i][1][0] + " ( " + moveData[i][1][1][0] + ", " + moveData[i][1][1][1] + ", " + moveData[i][1][1][2] + " ) " + moveData[i][1][2]);
                    moveDataDiv.appendChild(newContent);
                    var moveButton = document.createElement("BUTTON");
                    moveButton.style.height = "22px";
                    moveButton.style.margin = ".5px";
                    moveButton.innerText = "Move";
                    moveButton.setAttribute('onclick', 'makeMove("'+moveData[i][0]+'")');
                    moveButtonDiv.appendChild(moveButton);
                    var moveDataDivBr = document.createElement("br");
                    moveDataDiv.appendChild(moveDataDivBr);
                    var moveButtonDivBr = document.createElement("br");
                    moveButtonDiv.appendChild(moveButtonDivBr);

               }


                const insertDiv = document.getElementById("move_data");
                document.body.insertBefore(moveButtonDiv, insertDiv);
                document.body.insertBefore(moveDataDiv, moveButtonDiv);

            }


           function makeMove(move){
                game.move(move);
                board.position(game.fen());
                $.get( `http://127.0.0.1:5000/getmethod/${game.pgn().replace(/\s/g, "_")}`);
                getMoveData()
           }


            function setColor(color){
                if (color === "white") {
                    $.get( "http://127.0.0.1:5000/getmethod/setcolorwhite");
                }
                if (color === "black") {
                    $.get( "http://127.0.0.1:5000/getmethod/setcolorblack");
                }
                getMoveData()
            }


            function setTimeControl(timeControl){
                $.get(`http://127.0.0.1:5000/getmethod/settimecontrol${timeControl}`);
                getMoveData()
            }


            function setOpponent(){
                var opponent = document.getElementById("txtBox").value;
                document.getElementById('txtBox').value = '';

                if (opponent !== ""){
                    $.get(`http://127.0.0.1:5000/getmethod/setopponent${opponent}`);
                    getMoveData()
                }
            }


            function setExcludedOpponent(excludedOpponent){
                var excludedOpponent = document.getElementById("txtBox").value;
                document.getElementById('txtBox').value = '';
                $.get(`http://127.0.0.1:5000/getmethod/setexcludedopponent${excludedOpponent}`);
                getMoveData()

            }


            function resetOpponents(){
                document.getElementById('txtBox').value = '';
                $.get('http://127.0.0.1:5000/getmethod/resetopponents');
                getMoveData()
            }


            function textBox(){
                if (event.keyCode == 13 && event.shiftKey){
                document.getElementById('btnExclude').click()
                }
                else if (event.keyCode == 13){
                document.getElementById('btnSearch').click()
                }
                else if (event.keyCode == 8 && event.shiftKey){
                    resetOpponents()
                }
            }


            function undo(){
                game.undo();
                board.position(game.fen());

                if (game.pgn() === ""){
                    $.get( `http://127.0.0.1:5000/getmethod/_`);
                }
                else{
                    $.get( `http://127.0.0.1:5000/getmethod/${game.pgn().replace(/\s/g, "_")}`);
                }
                getMoveData()
            }


            function undoAll(){
                game = new Chess()
                board.position(game.fen())
                $.get( `http://127.0.0.1:5000/getmethod/_`);
                getMoveData()
            }

            var board = null
            var game = new Chess()
            var $status = $('#status')
            var $fen = $('#fen')
            var $pgn = $('#pgn')

            function onDragStart (source, piece, position, orientation) {
                if (game.game_over()) return false
                if ((game.turn() === 'w' && piece.search(/^b/) !== -1) || (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
                    return false
                }
            }

            function onDrop (source, target) {
                var move = game.move({
                    from: source,
                    to: target,
                    promotion: 'q'
                })

                if (move === null) return 'snapback'

                updateStatus()

                $.get( `http://127.0.0.1:5000/getmethod/${game.pgn().replace(/\s/g, "_")}`);
                getMoveData()
            }

            function onSnapEnd () {
                board.position(game.fen())
            }

            function updateStatus () {
                var status = ''
                var moveColor = 'White'
                if (game.turn() === 'b') {
                    moveColor = 'Black'
                }
                if (game.in_checkmate()) {
                    status = 'Game over, ' + moveColor + ' is in checkmate.'
                }
                else if (game.in_draw()) {
                    status = 'Game over, drawn position'
                }
                else {
                    status = moveColor + ' to move'
                    if (game.in_check()) {
                        status += ', ' + moveColor + ' is in check'
                    }
                }

                $status.html(status)
                $fen.html(game.fen())
                $pgn.html(game.pgn())
            }

            var config = {
                draggable: true,
                position: 'start',
                onDragStart: onDragStart,
                onDrop: onDrop,
                onSnapEnd: onSnapEnd
            }

            board = Chessboard('myBoard', config)
            updateStatus()

            $.get(`http://127.0.0.1:5000/getmethod/_`);
            getMoveData()

        </script>
    </body>
</html>
